 @model RoleTopMVC.ViewModels.OrcamentoViewModel

 <main>  
                        <h2>Faça sua Reserva!</h2>
                        <br>
                        <br>
                        <form method="POST" action='@Url.Action("Registrar","Orcamento")'>

                            <div class="in-esquerda">
                                <div>
                                    <label for="nome-cliente">Nome completo:</label>
                                    <br>
                                    <input id="nomeCliente" type="text" name="nome-pessoa"  value="@Model.Cliente.Nome" required>
                                </div>
                                <div>
                                    <label for="cpf-cliente">CPF:</label>
                                    <br>
                                    <input id="cpf" type="text" name="cpf-pessoa" value="@Model.Cliente.Cpf">
                                </div>
                                <div>
                                    <label for="Nome do evento"> Nome do Evento:</label>
                                    <br>
                                    <input id="nome evento" type="text" name="nome-evento" required>
                                </div>
                                <div>
                                    <label for="Tipo de Evento">Tipo de Evento:</label>
                                    <br>
                                    <input id="tipo evento" type="text" name="tipo-evento" required>
                                </div>
                                <div>
                                    <label for="numero de pessoas">Número de Pessoas:</label>
                                    <br>
                                    <input id="numero de pessoas" type="text" name="quantidade" required>
                                </div>
                                  <div>
                                    <label for="Data">Data do Evento:</label>
                                    <br>
                                    <input id="dataevento" type="date" name="dataevento" required>
                                </div>
                                
                                <div>
                                    <label for="E-mail">E-mail:</label>
                                    <br>
                                    <input id="email" type="email" name="email" value="@Model.Cliente.Email">
                                </div>
                               
                                <div>
                                    <label for="Observações">Observações:</label>
                                    <br>
                                    <input id="observações" type="text-box" name="observacoes" required>
                                </div>
                            </div>
                            <div class="meio">
                                <div>
                                    <h3>Serviços</h3>
                                  <select name="servicos">
                                    <option value="selecione"disabled selected>Selecione</option>
                                    <option value="áudio">Serviço de áudio</option>
                                    <option value="iluminação">Serviço de iluminação</option>
                                    <option value="áudio e iluminação">Serviço de áudio e iluminação</option>
                                    <option>Nenhum</option>
                                  </select>
                                </div> 
                              
                              
                                <h3>Formas de pagamento</h3>
                                
                                <select name="forma-pagamento" required>
                                    <br>
                              <option value="selecione" disabled selected>Selecione</option>
                              <option value="cartao de crédito">Cartão de Crédito</option>
                              <option value="boleto bancario">Boleto Bancário</option>
                              <option value="transferencia">Transferência</option>
                          </select>
                            <br>
                            <br>
                            
                        
                                <div class="direita">
                                        <h3>Informações</h3>
                                        <li>
                                            N° da conta:5546798
                                        </li>
                                        <li>
                                            Agência:023456
                                        </li>
                                        <li>
                                            Banco Bradesco
                                        </li>
                                    </ul>
                                    <br>
                            
                                    
                                    
                                    <h3>Observações de cancelamento:</h3><p>O cancelamento pode ser feito com até 3 dias de antecedência do evento.<br>
                                        Caso contrário, o indivíduo terá de pagar metade do aluguel do local.</p>
                                    </div>
                               
                            <div class="fim">
                                <input type="submit" value="Enviar Evento!"/>
                            </div>                
                    
                                

                                
                        </form>
                            </main>