<div id="duvidas">
<h6>Duvidas Frequentes</h6>
<em><h4>É possívem fazer quais tipos de eventos?</h4></em>
<p>RESPOSTA: É possível fazer eventos como : casamentos, festas, eventos corporavos, shows e aniversários,etc..  
    Com exceção dos eventos com pirotecnia. </p>
<br>
<em><h4>Como faço para agendar um evento?</h4></em>
<p>RESPOSTA: Entre na aba "Faça seu Evento" no menu
 e preencha todos os campos necessários até que  envie seu orçamento à nós. </p>
<br>
<em><h4>É possível visitar nosso espaço ?</h4></em>
<p> RESPOSTA: É possível sim. Porém temos um horário de visita reservado 
    aos clientes; estamos  disponíveis de segunda a sexta, das 7:00 ao 12:00. </p>
<br>
<em><h4>É possível ver o histórico de eventos que já realizei?</h4></em>
<p>É possível.Porém é necessário que o usuário já tenho uma conta
  registrada, e posteriormente entre com a conta no site, para que consiga visualizar os eventos anteriores</p>
</div>