    <main>
  <form method="POST" action='@Url.Action("CadastrarCliente","Cadastro")'>

                                <h2>Cadastro</h2>
                                <div>
                                    <label for="Nome">Nome Completo:</label>
                                    <br>
                                    <input id="nome ca" type="text" name="nome" required/>
                                </div>
                                <div>
                                    <label for="CPF ou CNPJ">CPF ou CNPJ</label>
                                    <br>
                                    <input id="CPF/CNPJ ca" type="number" name="documento" required/>
                                </div>
                                <div>
                                    <label for="E-mail">E-mail:</label>
                                    <br>
                                    <input id="E-mail ca" type="email" name="email" required/>
                                </div>
                                <div>
                                    <label for="Senha">Senha:</label>
                                    <br>
                                    <input id="senha ca" type="password" name="senha" required/>
                                </div>
                            <div>
                                    <input type="submit" value="Cadastrar" required />
                                
                            </div>
                                
                                <br>
                                <br>
                            </form>
                 </main> 