 
  <main>
        <h2>Dashboard</h2>

        <section id="status-pedidos">
            <h3>Status dos eventos</h3>
            <div id="painel">
                <div class="box-status-pedidos aprovados">
                    <h4>Aprovados</h4>
                    <p>3</p>
                </div>
                <div class="box-status-pedidos pendentes">
                    <h4>Pendentes</h4>
                    <p>3</p>
                </div>
                <div class="box-status-pedidos reprovados">
                    <h4>Reprovados</h4>
                    <p>3</p>
                </div>
            </div>
        </section>

        <section id="lista-pedidos">
            <h3>Lista de Eventos</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome do cliente</th>
                        <th rowspan="2">Nome do Evento</th>
                        <th colspan="2">Informações</th>
                        <th colspan="2" rowspan="2">Aprovar</th>
                    </tr>
                    <tr>
                        <th>Evento</th>
                        <th>N° de pes.</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Pedidos atualizados em 11/09/2019 ás 01:05</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Cesar Sportore</td>
                        <td>Cesar casamento</td>
                        <td>Casamento</td>
                        <td> 200 convidados</td>
                        <td><a href="#"><i class="fas fa-check"></i></a></td>
                        <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                    <tr>
                        <td>Roberta Silva</td>
                        <td>halloween party</td>
                        <td>Balada</td>
                        <td>300 convidados</td>
                        <td><a href="#"><i class="fas fa-check"></i></a></td>
                        <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>